* {
    text-decoration: none;
}

.jumbotron {
    background-image: linear-gradient(rgb(156, 212, 241), rgb(232, 250, 252), rgb(131, 159, 164));
}

.search-bar {
    width: 100%;
    margin-left: 20px;
    margin-top: 5%;
}

.form-group, .btn {
    width:25%;
}



.location-header {
    display: inline-block;
    margin-left: 30%;
}

.weather-result-container {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3%;
    margin-left: 25%;
}